<div class="p-5">
  <div
    fieldContainer
    label="4.2 Innovation Packages and Scaling Readiness implementation"
    description="desc example"
    [maxwords]="500">
    <p-editor
      [style]="{ height: '320px' }"
      [placeholder]="'Enter challenge statement here...'"
      [(ngModel)]="innoPackagesAndSRP().innovation_packages_and_srp_html">
      <ng-template pTemplate="header">
        <span class="ql-formats">
          <button type="button" class="ql-bold" aria-label="Bold"></button>
          <button type="button" class="ql-italic" aria-label="Italic"></button>
          <button type="button" class="ql-underline" aria-label="Underline"></button>
          <button type="button" class="ql-link" aria-label="Link"></button>
        </span>
      </ng-template>
    </p-editor>
  </div>
</div>
