<div class="p-5">
  <div
    fieldContainer
    label="Measurable three-year outcomes"
    description="desc example"
    [maxwords]="400">
    <p-editor
      [style]="{ height: '320px' }"
      placeholder="Enter measurable three-year outcomes here..."
      [(ngModel)]="mesurableObjectivesBody().measurable_three_year_html">
      <ng-template pTemplate="header">
        <span class="ql-formats">
          <button type="button" class="ql-bold" aria-label="Bold"></button>
          <button type="button" class="ql-italic" aria-label="Italic"></button>
          <button type="button" class="ql-underline" aria-label="Underline"></button>
          <button type="button" class="ql-link" aria-label="Link"></button>
        </span>
      </ng-template>
    </p-editor>
  </div>

  <div
    fieldContainer
    label="2.2.1 The P25 Initiative model"
    description="desc example"
    [maxwords]="400">
    <p-editor
      [style]="{ height: '320px' }"
      placeholder="Enter the P25 Initiative model here..."
      [(ngModel)]="mesurableObjectivesBody().p25_initiative_model_html">
      <ng-template pTemplate="header">
        <span class="ql-formats">
          <button type="button" class="ql-bold" aria-label="Bold"></button>
          <button type="button" class="ql-italic" aria-label="Italic"></button>
          <button type="button" class="ql-underline" aria-label="Underline"></button>
          <button type="button" class="ql-link" aria-label="Link"></button>
        </span>
      </ng-template>
    </p-editor>
  </div>
</div>

<p-toast position="bottom-center"></p-toast>
