<div
  class="bg-bluegray-900 flex flex-wrap justify-content-center align-content-center"
  style="width: 100vw; height: 100vh">
  <div class="text-center" style="height: max-content">
    <div class="text-6xl font-bold text-white">Welcome to the</div>
    <div class="text-3xl font-semibold text-white">
      One CGIAR <span class="text-primary">Submission Tool</span>
    </div>
    <div
      class="text-md font-light flex-wrap text-white pt-8 flex flex-column align-content-center justify-content-center">
      <div class="text">validating session...</div>
      <div class="loaderContainer relative">
        <div class="loader"></div>
      </div>
    </div>
  </div>
</div>
