<div class="p-5">
  <div
    fieldContainer
    label="Participatory design process:"
    description="This section and annexes should show partner support statements + links to evidence, e.g. to country or regional development strategies or action plans, details on process Concise narrative and evidence that the research and innovations proposed is demand-driven (specifically that it has emerged from stakeholder discussion and co-design, including therelevant Investment Advisory Group) and consistent with country/region/global stakeholderpriorities."
    [maxwords]="500">
    <p-editor
      [style]="{ height: '320px' }"
      placeholder="Enter text here..."
      [(ngModel)]="pDesignProcessBody().participatory_desing_process_html">
      <ng-template pTemplate="header">
        <span class="ql-formats">
          <button type="button" class="ql-bold" aria-label="Bold"></button>
          <button type="button" class="ql-italic" aria-label="Italic"></button>
          <button type="button" class="ql-underline" aria-label="Underline"></button>
          <button type="button" class="ql-link" aria-label="Link"></button>
        </span>
      </ng-template>
    </p-editor>
  </div>
</div>

<p-toast position="bottom-center"></p-toast>
