<div class="grid p-4">
  <div
    class="col-6"
    fieldContainer
    label="Short name"
    bodyValue="short_name"
    [signalBody]="this.body"
    [maxwords]="3">
    <input
      type="text"
      pInputText
      [(ngModel)]="body().short_name"
      (ngModelChange)="updateSignal($event, 'short_name')" />
  </div>

  <div
    class="col-12"
    fieldContainer
    label="Short Initiative name"
    bodyValue="name"
    [signalBody]="this.body"
    [maxwords]="50">
    <textarea
      rows="5"
      cols="30"
      pInputTextarea
      (ngModelChange)="updateSignal($event, 'name')"
      [(ngModel)]="body().name"
      style="resize: vertical"></textarea>
  </div>

  <div class="col-6" fieldContainer label="Lead name">
    <input
      [disabled]="true"
      type="text"
      pInputText
      [(ngModel)]="body().initiative_detail_obj.lead_name" />
  </div>

  <div class="col-6" fieldContainer label="Lead email">
    <input
      [disabled]="true"
      type="text"
      pInputText
      [(ngModel)]="body().initiative_detail_obj.lead_name" />
  </div>

  <div class="col-6" fieldContainer label="Co-Lead name">
    <input
      [disabled]="true"
      type="text"
      pInputText
      [(ngModel)]="body().initiative_detail_obj.co_lead_name" />
  </div>

  <div class="col-6" fieldContainer label="Co-Lead email">
    <input
      [disabled]="true"
      type="text"
      pInputText
      [(ngModel)]="body().initiative_detail_obj.co_lead_email" />
  </div>

  <div class="col-6" fieldContainer label="Primary CGIAR Action Area">
    <p-dropdown
      [options]="this.actionAreasListSE.list()"
      (ngModelChange)="updateSignal($event, 'initiative_detail_obj.clarisa_primary_action_area_id')"
      [(ngModel)]="body().initiative_detail_obj.clarisa_primary_action_area_id"
      optionLabel="name"
      optionValue="id"
      [showClear]="true"
      placeholder="Select a City"></p-dropdown>
  </div>
  <!--
  <div fieldContainer class="col-6" label="Budget USD">
    <p-inputNumber
      [min]="0"
      mode="decimal"
      [minFractionDigits]="0"
      [maxFractionDigits]="2"></p-inputNumber>
  </div> -->
  <!--
  <div class="col-6" fieldContainer label="Multiple CGIAR centers">
    <p-multiSelect
      [options]="cities()"
      [(ngModel)]="body().city"
      optionLabel="name"
      [filter]="true"
      [showClear]="true"
      placeholder="Select Cities"></p-multiSelect>
  </div>

  <div class="col-6" fieldContainer label="Multiple Impact Areas">
    <p-multiSelect
      [options]="cities()"
      [showToggleAll]="true"
      optionLabel="name"
      [filter]="true"
      [showClear]="true"
      placeholder="Select Cities"></p-multiSelect>
  </div>

  <div
    class="col-12 mt-3"
    fieldContainer
    label="1.2 Executive Summary"
    [maxwords]="500"
    description="desc example"
    [signalBody]="this.body"
    bodyValue="value2">
    <textarea
      rows="5"
      cols="30"
      pInputTextarea
      [(ngModel)]="body().value1"
      style="resize: vertical"></textarea>
  </div>

  <p-fileUpload
    name="demo[]"
    class="col-12 mt-3"
    fieldContainer
    label="1.3 The P25 Initiative within the Global Science Group and the CGIAR Portfolio"
    description="desc example"
    url="https://www.primefaces.org/cdn/api/upload.php"
    [multiple]="true"
    accept="image/*"
    [maxFileSize]="1000000">
    <ng-template pTemplate="content">
      @if (uploadedFiles.length) {
        <ul>
          @for (file of uploadedFiles; track $index) {
            <li>{{ file.name }} - {{ file.size }} bytes</li>
          }
        </ul>
      }
    </ng-template>
  </p-fileUpload> -->
</div>
